.features {
  @extend %section;
}
.features__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * (#{$card-set-gap}));
  margin-top: calc(-1 * (#{$card-set-gap}));
}
.features__item {
  margin-top: $card-set-gap;
  margin-left: $card-set-gap;
  flex-basis: calc((100% - 4 * (#{$card-set-gap})) / 4);
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $card-set-gap;
  width: 270px;
  height: 120px;
  border: 1px solid transparent;
  background-color: $comand-bg-color;
  border-radius: 4px;
}
