.logo { 
  @extend %link;
  display: inline-block
  margin-right: 93px;
  color: #000000;
  font-family: $title-font;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo__text {
  color: $accent-color;
}
