.logo {
  @extend %link;
  display: inline-block;
  color: $title-text-color;
  font-family: $title-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  font-weight: bold;
  letter-spacing: 0.03em;
}
.logo__text {
  color: $accent-color;
}
