.portfolio {
  @extend %section;
}
.filter__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    justify-content: start;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-bottom: 30px;
  }
}
.filter__button {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  background-color: $comand-bg-color;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color $transition-duration $timing-function, box-shadow $transition-duration $timing-function,
    color $transition-duration $timing-function;
  &:focus,
  &:hover {
    color: $main-heading-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__list {
  @extend %list;
  @extend %card-set;
}
.portfolio__item {
  @extend %card-set__item;
  @media screen and (min-width: 480px) {
    flex-basis: 100%;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * (#{$card-set-gap})) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * (#{$card-set-gap})) / 3);
  }
}
.portfolio__link {
  @extend %link;
  display: block;
  transition: box-shadow $transition-duration $timing-function;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
  &:hover .portfolio__overlay {
    transform: translateY(0);
  }
}
.portfolio__overlay {
  display: flex;
  align-items: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform $transition-duration $timing-function;
}
.portfolio__overlay--text {
  font-style: $main-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: $main-heading-color;
}
.portfolio__text {
  color: $primery-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.portfolio__title {
  padding-bottom: 4px;
  margin: 0;
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__content {
  padding: 20px 24px;
  background: $primery-bg-color;
  border: 1px solid #eeeeee;
}
